@import 'bourbon/bourbon';

//fonts

@font-face {
  font-family: 'oswaldregular';
  src: url('fonts/oswald-webfont-webfont.eot');
  src: url('fonts/oswald-webfont-webfont.eot?#iefix') format('embedded-opentype'),
       url('fonts/oswald-webfont-webfont.woff') format('woff'),
       url('fonts/oswald-webfont-webfont.ttf') format('truetype'),
       url('fonts/oswald-webfont-webfont.svg#oswaldregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

//vars

//font vars

$font-one: 'oswaldregular';
$font-two: 'American Typewriter', 'Courier New', Courier, Serif;
$font-three: 'helvetica';


//color vars

$bg-color: #f2edde;  
$primary-color: #03400e;
$secondary-color: #643c22;  
$text-color:#404040;
$light-gray-color: #bbb;
$gray-color:#666;
$link-color:$primary-color;
$success-color: #468847;
$warning-color: #c09853;
$error-color:#b94a48;

// text vars

$text-column-gutter-width: 20px;   


// baseline

$baseline: 24px;   

// reset & basics

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline; 
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block; 
}

blockquote, q {
    quotes: none; 
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none; 
}

//tables
table {
    border-collapse: collapse;
    border-spacing: 0; 
    max-width: 100%;
    background-color: transparent;
    margin-bottom:$baseline;
    &.table{
        width: 100%;
        th{
            font-weight:bold;
            vertical-align: bottom;
            padding: $baseline/2 5px;
            line-height: $baseline;
            text-align: left;
        }
        tr{
            &.success{
                background-color:tint($success-color,90%);
            }
            &.error{
                background-color:tint($error-color,90%);
            }
            &.info{
                background-color:tint($primary-color,90%);
            }
            &.warning{
                background-color:tint($warning-color,80%);
            }
        }
        td{
            padding: $baseline/2 10px;
            line-height: $baseline - 1px;
            text-align: left;
            vertical-align: top;
            border-top: 1px dashed black;
            border-left:1px dashed black;
            &:first-of-type{
              border-left:none;
            }
        }
        &.table-striped{
            tr{
                &:nth-child(odd){
                    background-color:rgba(0,0,0,.1);
                }
            }
            thead{
                tr{
                background-color:transparent!important;
                }
            }
        }
        &.table-bordered{
            border:1px dashed black;
            border-collapse: separate;
            border-radius:4px;
            th{
                line-height:$baseline - 2px;
            }
        }
        .button{
            line-height:$baseline - 6px;
            padding-top:0;
            padding-bottom:0;
        }
    }
}

// body

body {
        font: 100% $font-three;
        font-size:16px;
        color: $text-color;
        background:$bg-color url(../images/top-pattern.png) repeat-x;
        -webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
        -webkit-text-size-adjust: 100%;
        line-height: $baseline; 
    }

//sweet baseline grid

// body{
//     background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 95%, rgba(0, 0, 0, 0.1) 100%)!important;
//     background-image: -webkit-gradient(linear, left top, left bottom, color-stop(95%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.1)))!important;
//     background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 95%, rgba(0, 0, 0, 0.1) 100%)!important;
//     background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0) 95%, rgba(0, 0, 0, 0.1) 100%)!important;
//     background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 95%, rgba(0, 0, 0, 0.1) 100%)!important;
//     background-image: linear-gradient(top, rgba(0, 0, 0, 0.1) 95%, rgba(0, 0, 0, 0.1) 100%)!important;
//     @include background-size (100% 24px);
// }


// type

.stars{
  &:before,&:after{
    content:"★";
    color:$text-color;
    position:relative;
    top:-4px;
    font-size: 0.8em;
  }
}


h1,h2,h4{
  color:$secondary-color;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { 
    font-weight: inherit; 
}

h1,h2{
    font-family:$font-one;
}

h3{
  font-weight:100;
}

h4,h5,h6{
    font-family:$font-two;
}

h1, h2, h3, h4, h5, h6, p {
    margin-bottom:$baseline; 
}

p  {font-size: 1em; line-height:$baseline;}
h1 { font-size: 2.4em; line-height:$baseline*2;}
h2 { font-size: 2em; line-height:$baseline*2;}
h3 { font-size: 1.8em; line-height:$baseline*2;}
h4 { font-size: 1.6em; line-height:$baseline*2;}
h5 { font-size: 1em; line-height:$baseline;}
h6 { font-size: 0.9em; line-height:$baseline;}


p.lead { 
    font-size: 1.3em; line-height:$baseline;
}

em { 
    font-style: italic; 
}
strong { 
    font-weight: bold; 
}
small { 
    font-size: 0.8em; 
    line-height:0;
}
code{
    padding: 0px 4px;
    color: #d14;
    white-space: nowrap;
    background-color: #f7f7f9;
    border: 1px solid #e1e1e8;
    line-height:$baseline - 2px;
}

//font families

.font-one{
    font-family:$font-one;
}
.font-two{
    font-family:$font-two;
}
.font-three{
    font-family:$font-three;
}

//alignment

.text-left{
    text-align:left;
}
.text-right{
    text-align:right;
}
.text-center{
    text-align:center;
}

//transform

.text-uppercase{
    text-transform:uppercase;
}
.line-height{
    line-height:$baseline;
}


//emphasis

.muted{
    color:#999999;
}
.text-warning{
    color:$warning-color;
}
.text-error{
    color:$error-color;
}
.text-info{
    color:$primary-color;
}
.text-success{
    color:$success-color;
}

// blockquotes

blockquote, blockquote p {font-size: 1.1em; line-height:$baseline; font-style: italic; }
blockquote { margin: 0 0 $baseline 0; padding: $baseline/2 20px $baseline/2 19px; border-left: 3px solid $secondary-color; }
blockquote cite { display: block; font-size: 0.8em; }
blockquote cite:before { content: "\2014 \0020"; }
hr { border: solid #ddd; border-width: 1px 0 0; clear: both; margin:$baseline 0; height: 0; }


// lists

menu{ list-style:none; }
ul, ol, menu{ margin: $baseline 0 }
ol { list-style: decimal; }
ol, ul, ul.square, ul.circle, ul.disc { margin-left: 30px; }
ul.square { list-style: square outside; }
ul.circle { list-style: circle outside; }
ul.disc { list-style: disc outside; }
ul ul, ul ol,
ol ol, ol ul { margin: $baseline 0; font-size: 90%;  }
ul ul li, ul ol li,
ol ol li, ol ul li { margin-bottom: 6px; }
li { line-height: $baseline; margin-bottom:$baseline;}
ul.large li { line-height: $baseline; }
li p { line-height: $baseline; }

// code

code{
  white-space: normal;
  word-wrap: break-word;
  word-break: break-all;
}

// images

img{
    margin:$baseline 0;
    max-width: 100%;
    height: auto; 
}

p img, h1 img, h2 img, h3 img, h4 img, h5 img, h6 img { 
    margin: $baseline/2 $baseline/2 $baseline/2 0; 
}

.img-rounded{
    border-radius:200px;
}

// links
a{
    color:$link-color;
    text-decoration:none;
    &:hover{
        color:tint($link-color,30%);
        text-decoration:underline;
    }
}

// buttons

.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
    border:none;
    background: $primary-color;
    border-radius: 4px;
    color: #fff;
    display: inline-block;
    font-size: 0.8em;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    margin-bottom: $baseline;
    line-height: $baseline;
    padding:$baseline/2 20px;
    @include transition-duration(.1s);
    &:hover{
        background:shade($primary-color,20%);
        color:white;
        text-decoration:none;
    }
    &:active{
        @include box-shadow(inset 0px 1px 2px black);
    }
    &.full-width{
        width: 100%;
        padding-left: 0 !important;
        padding-right: 0 !important;
        text-align: center; 
    }
    &.button-success{
        background:$success-color;
        &:hover{
        background:shade($success-color,20%);
        }
        &:active{
            @include box-shadow(inset 0px 1px 2px black);
        }
    }
    &.button-warning{
        background:$warning-color;
        &:hover{
        background:shade($warning-color,20%);
        }
        &:active{
            @include box-shadow(inset 0px 1px 2px black);
        }
    }
    &.button-error{
        background:$error-color;
        &:hover{
        background:shade($error-color,20%);
        }
        &:active{
            @include box-shadow(inset 0px 1px 2px black);
        }
    }
    &.disabled{
        opacity:0.5;
        cursor: default;
        &:hover{
        border: none;
        background-image: none;
        }
        &:active{
            @include box-shadow(none);
        }

    }
}

/* Fix for odd Mozilla border & padding issues */
button::-moz-focus-inner,
input::-moz-focus-inner {
border: 0;
padding: 0;
}


//alerts

.alert{
    padding: $baseline/2 - 1px 35px $baseline/2 - 1px  14px;
    margin-bottom: $baseline;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    background-color: tint($warning-color,90%);
    border: 1px solid $warning-color;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    color:$warning-color;
    P,h1,h2,h3,h4,h5,h6{
        margin-bottom:0;
    }
    &.alert-error{
        background-color: tint($error-color,90%);
        border: 1px solid $error-color;
        color:$error-color;
    }
    &.alert-info{
        background-color: tint($primary-color,90%);
        border: 1px solid $primary-color;
        color:$primary-color;
    }
    &.alert-success{
        background-color: tint($success-color,90%);
        border: 1px solid $success-color;
        color:$success-color;
    }
}

//labels

.label, .badge{
    display: inline-block;
    padding: 0 4px;
    font-size: 0.66em;
    font-weight: bold;
    line-height:$baseline - 4px;
    color: #ffffff;
    white-space: nowrap;
    vertical-align: baseline;
    background-color: #666;
    border-radius: 3px;
    &.label-success,&.badge-success{
        background-color:$success-color;
    }
    &.label-warning,&.badge-warning{
        background-color:$warning-color;
    }
    &.label-error,&.badge-error{
        background-color:$error-color;
    }
    &.label-info,&.badge-info{
        background-color:$primary-color;
    }
}
.badge{
  border-radius:9px;
  padding-right: 9px;
  padding-left: 9px;
}

//progress bars

.progress{
    height: $baseline;
    margin-bottom: $baseline;
    overflow: hidden;
    background-color: #f7f7f7;
    @include linear-gradient(top, #f5f5f5, #f9f9f9);
    background-repeat: repeat-x;
    border-radius: 4px;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    .bar{
        float: left;
        width: 0;
        height: 100%;
        font-size: 12px;
        color: #ffffff;
        text-align: center;
        text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
        background-color: $primary-color;
        @include linear-gradient(top, tint($primary-color,30%), shade($primary-color,0%));
        background-repeat: repeat-x;
        box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
        box-sizing: border-box;
        @include transition(width 0.6s ease);
    }
}
.progress-error{
    .bar{
       @include linear-gradient(top, tint($error-color,30%), shade($error-color,0%)); 
    }
}
.progress-success{
    .bar{
       @include linear-gradient(top, tint($success-color,30%), shade($success-color,0%)); 
    }
}
.progress-warning{
    .bar{
       @include linear-gradient(top, tint($warning-color,30%), shade($warning-color,0%)); 
    }
}

//boxes

.box{
    padding:$baseline;
    margin-bottom:$baseline;
    
    &.box-comment{
      background-color:#fff;
      @include box-shadow(0 $baseline/2 0 #cecabd);
      h4{
        color:$text-color;
        &:before{
          color:#ccc;
          content:"'";
          font-size:4em;
          line-height:.1em;
          margin-right:.25em;
          vertical-align:-.4em;
        }
      }
      &:after{
        width:30px;
        height:30px;
        background:white;
        float: left;
        display:block;
        z-index: 200000;
        content:"";
        position:relative;
        top:15px;
        left:30px;
        @include transform(rotate(-45deg));
        @include transform-origin(0 100%);
        @include box-shadow(0 $baseline/2 0 #cecabd);

      }
    }
    &.box-bordered{
        border:$baseline/2 solid $light-gray-color;
        &.box-error{
            border-color:$error-color;
        }
        &.box-warning{
            border-color:$warning-color;
        }
        &.box-success{
            border-color:$success-color;
        }
    }

}


// forms

form {
    margin-bottom: $baseline }
fieldset {
    margin-bottom: $baseline }
input[type="text"],
input[type="password"],
input[type="email"],
textarea,
select {
    border: 1px solid #ccc;
    padding: $baseline/2 4px;
    line-height:$baseline;
    outline: none;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    font: 13px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #777;
    margin: 0;
    width: 210px;
    max-width: 100%;
    display: block;
    margin-bottom: $baseline;
    min-height:$baseline - 2px;
    background: #fff; }
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
textarea:focus {
    border: 1px solid #aaa;
    color: #444;
    -moz-box-shadow: 0 0 3px rgba(0,0,0,.2);
    -webkit-box-shadow: 0 0 3px rgba(0,0,0,.2);
    box-shadow:  0 0 3px rgba(0,0,0,.2); }
textarea {
    min-height: $baseline*3 - 2px; }
select[multiple]{
    min-height: $baseline*3;
}
label,
legend {
    display: block;
    font-weight: bold;
    font-size: 0.9em;
    line-height:$baseline;
}
input[type="checkbox"] {
    display: inline;
}
label span,
legend span {
    font-weight: normal;
    font-size: 0.9em;
    color: #444; 
    line-height:0;
}
select {
    width: 220px; 
    height:$baseline;
}
input[type="checkbox"],input[type="radio"] {
    position:relative;
    vertical-align:middle; 
}



//text columns

.text_columns_2{
  @include columns($text-column-gutter-width 2);
}
.text_columns_3{
  @include columns($text-column-gutter-width 3);
}
.text_columns_4{
  @include columns($text-column-gutter-width 4);
}

//display
    
.darker-bg{
  background-color:rgba(0,0,0,0.05);
}

.base-line-height{
    line-height:$baseline;
}

.left{
    float: left;
}
.right{
    float: right;
}

.full-width{
    width:100%;
}

.display-block{
    display:block;
}

.inline-block{
    display:inline-block;
}

ul.inline{
    list-style:none;
    margin-left:0;
    li{
        display:inline-block;
        padding:0 5px;
    }
}

.margin-auto{
    margin:0 auto!important;
}

.margin-bottom{
    margin-bottom:$baseline!important;
}
.margin-top{
    margin-top:$baseline!important;
}
.margin-right{
    margin-right:$baseline!important;
}
.margin-left{
    margin-left:$baseline!important;
}
.no-margin-bottom{
    margin-bottom:0px!important;
}
.no-margin-top{
    margin-top:0px!important;
}
.no-margin-left{
    margin-left:0px!important;
}
.no-margin-right{
    margin-right:0px!important;
}

.padding-left{
    padding-left:$baseline!important;
}
.padding-bottom{
    padding-bottom:$baseline!important;
}
.padding-top{
    padding-top:$baseline!important;
}
.padding-right{
    padding-right:$baseline!important;
}
.padding-left{
    padding-left:$baseline!important;
}
.no-padding-bottom{
    padding-bottom:0px!important;
}
.no-padding-top{
    padding-top:0px!important;
}
.no-padding-left{
    padding-left:0px!important;
}
.no-padding-right{
    padding-right:0px!important;
}

.large-padding-top{
    padding-top:$baseline*5;
}

// breaks
    
.rule{
    margin-bottom:$baseline - 2px;
    height:1px;
    border-bottom:1px dashed black;
}

.spacer{
  height:$baseline;
  display:block;
  width:100%;
}

//grid

     .wrapped                         { position: relative; width: 940px; margin: 0 auto; padding: 0; }
     .column,
     .columns                         { float: left; display: inline; margin-left: 10px; margin-right: 10px; }
    .row                                        { margin-bottom: $baseline; }

    /* Nested Column Classes */
    .column.alpha, .columns.alpha               { margin-left: 0; }
    .column.omega, .columns.omega               { margin-right: 0; }

    /* Base Grid */
     .one.column,
     .one.columns                     { width: 40px;  }
     .two.columns                     { width: 100px; }
     .three.columns                   { width: 160px; }
     .four.columns                    { width: 220px; }
     .five.columns                    { width: 280px; }
     .six.columns                     { width: 340px; }
     .seven.columns                   { width: 400px; }
     .eight.columns                   { width: 460px; }
     .nine.columns                    { width: 520px; }
     .ten.columns                     { width: 580px; }
     .eleven.columns                  { width: 640px; }
     .twelve.columns                  { width: 700px; }
     .thirteen.columns                { width: 760px; }
     .fourteen.columns                { width: 820px; }
     .fifteen.columns                 { width: 880px; }
     .sixteen.columns                 { width: 940px; }

     .one-third.column                { width: 300px; }
     .two-thirds.column               { width: 620px; }

    /* Offsets */
     .offset-by-one                   { padding-left: 60px;  }
     .offset-by-two                   { padding-left: 120px; }
     .offset-by-three                 { padding-left: 180px; }
     .offset-by-four                  { padding-left: 240px; }
     .offset-by-five                  { padding-left: 300px; }
     .offset-by-six                   { padding-left: 360px; }
     .offset-by-seven                 { padding-left: 420px; }
     .offset-by-eight                 { padding-left: 480px; }
     .offset-by-nine                  { padding-left: 540px; }
     .offset-by-ten                   { padding-left: 600px; }
     .offset-by-eleven                { padding-left: 660px; }
     .offset-by-twelve                { padding-left: 720px; }
     .offset-by-thirteen              { padding-left: 780px; }
     .offset-by-fourteen              { padding-left: 840px; }
     .offset-by-fifteen               { padding-left: 900px; }



// Tablet (Portrait)

    /* Note: Design for a width of 768px */

    @media only screen and (min-width: 768px) and (max-width: 959px) {
        .wrapped                          { width: 748px; }
         .column,
         .columns                         { margin-left: 10px; margin-right: 10px;  }
        .column.alpha, .columns.alpha               { margin-left: 0; margin-right: 10px; }
        .column.omega, .columns.omega               { margin-right: 0; margin-left: 10px; }
        .alpha.omega                                { margin-left: 0; margin-right: 0; }

         .one.column,
         .one.columns                     { width: 28px; }
         .two.columns                     { width: 76px; }
         .three.columns                   { width: 124px; }
         .four.columns                    { width: 172px; }
         .five.columns                    { width: 220px; }
         .six.columns                     { width: 268px; }
         .seven.columns                   { width: 316px; }
         .eight.columns                   { width: 364px; }
         .nine.columns                    { width: 412px; }
         .ten.columns                     { width: 460px; }
         .eleven.columns                  { width: 508px; }
         .twelve.columns                  { width: 556px; }
         .thirteen.columns                { width: 604px; }
         .fourteen.columns                { width: 652px; }
         .fifteen.columns                 { width: 700px; }
         .sixteen.columns                 { width: 748px; }

         .one-third.column                { width: 236px; }
         .two-thirds.column               { width: 492px; }

        /* Offsets */
         .offset-by-one                   { padding-left: 48px; }
         .offset-by-two                   { padding-left: 96px; }
         .offset-by-three                 { padding-left: 144px; }
         .offset-by-four                  { padding-left: 192px; }
         .offset-by-five                  { padding-left: 240px; }
         .offset-by-six                   { padding-left: 288px; }
         .offset-by-seven                 { padding-left: 336px; }
         .offset-by-eight                 { padding-left: 384px; }
         .offset-by-nine                  { padding-left: 432px; }
         .offset-by-ten                   { padding-left: 480px; }
         .offset-by-eleven                { padding-left: 528px; }
         .offset-by-twelve                { padding-left: 576px; }
         .offset-by-thirteen              { padding-left: 624px; }
         .offset-by-fourteen              { padding-left: 672px; }
         .offset-by-fifteen               { padding-left: 720px; }

        //home
        img.home-pop{
          max-width:800px!important;
         }
    }


// Mobile (Portrait)

    /* Note: Design for a width of 320px */

    @media only screen and (max-width: 767px) {
         .wrapped { width: 260px; }
         .columns,
         .column { margin: 0; }

         .one.column,
         .one.columns,
         .two.columns,
         .three.columns,
         .four.columns,
         .five.columns,
         .six.columns,
         .seven.columns,
         .eight.columns,
         .nine.columns,
         .ten.columns,
         .eleven.columns,
         .twelve.columns,
         .thirteen.columns,
         .fourteen.columns,
         .fifteen.columns,
         .sixteen.columns,
         .one-third.column,
         .two-thirds.column  { width: 260px; }

        /* Offsets */
         .offset-by-one,
         .offset-by-two,
         .offset-by-three,
         .offset-by-four,
         .offset-by-five,
         .offset-by-six,
         .offset-by-seven,
         .offset-by-eight,
         .offset-by-nine,
         .offset-by-ten,
         .offset-by-eleven,
         .offset-by-twelve,
         .offset-by-thirteen,
         .offset-by-fourteen,
         .offset-by-fifteen { padding-left: 0; }
        //reset columns
        .text_columns_2,.text_columns_3,.text_columns_4{
          @include columns($text-column-gutter-width 1);
        }
        //home
        img.home-pop{
          display:none;
         }
        .divider-spacer{
          margin-top:0!important;
        }
    }


// Mobile (Landscape)


    /* Note: Design for a width of 480px */

    @media only screen and (min-width: 480px) and (max-width: 767px) {
         .wrapped { width: 420px; }
         .columns,
         .column { margin: 0; }

         .one.column,
         .one.columns,
         .two.columns,
         .three.columns,
         .four.columns,
         .five.columns,
         .six.columns,
         .seven.columns,
         .eight.columns,
         .nine.columns,
         .ten.columns,
         .eleven.columns,
         .twelve.columns,
         .thirteen.columns,
         .fourteen.columns,
         .fifteen.columns,
         .sixteen.columns,
         .one-third.column,
         .two-thirds.column { width: 420px; }
    }


// Clearing

    .clearfix:after {
        visibility: hidden;
        display: block;
        font-size: 0;
        content: " ";
        clear: both;
        height: 0;
        }
    * html .clearfix             { zoom: 1; } /* IE6 */
    *:first-child+html .clearfix { zoom: 1; } /* IE7 */

//header

header{
  margin-bottom:$baseline*3;
  .header-inner{
    background-image:url(../images/all_natural.png);
    background-repeat:no-repeat;
    background-position-x:right;
  }
  ul{
    list-style:none;
    &.main-nav{
      font-weight:bold;
      float: left;
      margin:0;
      padding:$baseline 0;
      li{
        float: left;
        width:90px;
        margin-bottom:0;
        margin-right:$baseline;
        &:nth-child(even){
          margin-right:0!important;
        }
        &:first-child, &:nth-child(3n+2){
          
        }
        a{
          display:block;
        }
      }
    }
  }
  .admin-pannel{
    .dropdown-menu{
      min-width:100%;
      margin-top:$baseline*2 - 4px;
      box-shadow:none;
      border:none;
      background-color:$primary-color;
      border-top-left-radius:0px;
      border-top-right-radius:0px;
      border-top:1px solid rgba(255,255,255,.2);
      li{
        margin:0;
      }
      a{
        color:#fff!important;
        font-size:12px;
        font-weight:bold;
        padding:5px 30px;
        &:hover{
          background-image:none;
          background-color:shade($primary-color,30%)!important;
        }
      }
    }
  }
}

.logo{
  height:$baseline*4;
  background-image:url(../images/logo.png);
  background-repeat:no-repeat;
}

//home

img.home-pop{
  margin: 24px 0; max-width: 897px; right: 432px; position: relative; top: -35px;
}

.divider-spacer{
  margin-top:-$baseline*8;
}

///footer

footer{
  background-color:black;
  float: left;
  width:100%;
  padding:$baseline 0 $baseline*4 0;
  color:#fff;
  h2{
    color:#fff;
    border-bottom:1px solid #333;
  }
  p{
    color:#bbbbbb;
    font-size:.9em;
  }
}