%sidebar.sidebar.three.columns.alpha.margin-top
  %h5.text-uppercase
    My Profile
  .rule
  %a{:href=>"#"}
    %h5
      Edit Password
  %a{:href=>"#"}
    %h5
      Account Settings
  %a{:href=>"#"}
    %h5
      Profile Options