%sidebar.sidebar.three.columns.alpha{:style=>"margin-top:50px;"}
  %h5.text-uppercase.border-bottom
    My Profile
  %a{:href=>"#"}
    %h5
      Edit Password
  %a{:href=>"#"}
    %h5
      Account Settings
  %a{:href=>"#"}
    %h5
      Profile Options