.clearfix
%footer
  .wrapped
    .four.columns.alpha
      %h2
        Corral Club
      %p
        %strong
          Have your pops delivered
      %p
        Have your pops delivered monthly. Recieve special pricing
      %a.button{:href=>"#"}
        Learn More
    .four.columns
      %h2
        Latest News
      .footer-post
        %p
          %strong
            Article Title
        %p
          Have your pops delivered monthly. Recieve special pricing
        %a.button{:href=>"#"}
          Read More
      .footer-post
        %p
          %strong
            Article Title
        %p
          Have your pops delivered monthly. Recieve special pricing
        %a.button{:href=>"#"}
          Read More
    .four.columns
      %h2
        Links
      %a.display-block{:href=>"#"}
        Resources 
      %a.display-block{:href=>"#"}
        FAQ's 
      %a.display-block{:href=>"#"}
        More info 
      %a.display-block{:href=>"#"}
        Get in touch 
      %a.display-block{:href=>"#"}
        Become a Vendor 
    .four.columns.omega
      %h2
        Contact
      %p
        1877 333 8999
        %br
          %a{:href=>"#"}
            Email Us
      %h2
        Be Social
      %menu.social-menu
        %li
          %a{:href=>"#"}
            %span.social-font-name f
            %span.menu-text
              Facebook
        %li
          %a{:href=>"#"}
            %span.social-font-name t
            %span.menu-text
              Twitter
        %li
          %a{:href=>"#"}
            %span.social-font-name y
            %span.menu-text
              Youtube

