.clearfix
%footer
  .wrapped
    .grid_3.alpha
      %h2
        Corral Club
      %p
        %strong
          Have your pops delivered
        Have your pops delivered monthly. Recieve special pricing
      %a.btn{:href=>"#"}
        Learn More
    .grid_3
      %h2
        Latest News
      .footer-post
        %p
          %strong
            Article Title
        %p
          Have your pops delivered monthly. Recieve special pricing
        %a.btn{:href=>"#"}
          Read More
      .footer-post
        %p
          %strong
            Article Title
        %p
          Have your pops delivered monthly. Recieve special pricing
        %a.btn{:href=>"#"}
          Read More