/ //slider
%div{:style=>"background-color:black; height:496px;"}
  .wrapped
    %h1.text-center.padding-top
      
////product description
.wrapped
  .spacer
  .spacer
  .row
  %h2.text-center.stars
    THE ORIGINAL LONG LASTING, ALL NATURAL HORSE TREAT
  .rule
  %h3.text-center
    Delivering a quality product to people like you for 
    %strong
      over 15 years.
  .row.clearfix
  .eight.columns.alpha
    %img.home-pop{:src=>"images/home_pop.png"}
  .eight.columns.omega
    %h4
      Integer lacinia cursus semper. Aliquam dignissim facilisis elementum. Donec pellentesque 
    %p
      Pellentesque vel lorem magna. Donec a sem erat, eu malesuada elit. Phasellus lacus nunc, hendrerit ut aliquet at, sodales id est. In vel odio nec mi fringilla sodales. Duis diam risus, sagittis a congue sed, pretium eget nibh. Vivamus eu 
    %p
      pharetra mauris nec mi sollicitudin porta. Ut tortor sem, adipiscing nec vulputate bibendum, rutrum quis sem. Integer sed nulla justo, quis consequat dui. Duis vel dolor ac lacus viverra fermentum a in diam. Maecenas ut felis nisi, vel elementum sem.
    %a.button.full-width{:href=>"#"}
      Learn More about us
    %img{:src=>"images/ingredeants.png"}
.clearfix
//comments
.darker-bg.left.full-width.divider-spacer
  .wrapped
    .spacer
    .spacer
    .spacer
    .spacer
    .spacer
    .spacer
    .spacer
    .spacer
    %h2.text-center.stars.text-uppercase
      The highest standards. The happiest customers.
    .rule
    %h3.text-center
      Rated the 
      %strong
        \#1 horse treat 
      by hose-owners and distributors alike.
    .eight.columns.alpha
      .box.no-margin-bottom
        .box.box-comment
          %h4
            I am only vel lorem magna. Donec a sem erat, eu malesuada elit. Phasellus lacus nunc, hendrerit ut aliquet at, sodales id est. In vel odio nec mi fringilla 
      .three.columns.alpha
        %img.img-rounded.margin-auto.display-block{:src=>"images/wayne.png", :width=>"90"}
      .five.columns.omega
        %h4.no-margin-bottom
          Kelly Anderson
        %p
          Horse owner, lover
    .eight.columns.omega
      .box.no-margin-bottom
        .box.box-comment
          %h4
            I am only vel lorem magna. Donec a sem erat, eu malesuada elit. Phasellus lacus nunc, hendrerit ut aliquet at, sodales id est. In vel odio nec mi fringilla 
      .three.columns.alpha
        %img.img-rounded.margin-auto.display-block{:src=>"images/wayne.png", :width=>"90"}
      .five.columns.omega
        %h4.no-margin-bottom
          Kelly Anderson
        %p
          Horse owner, lover
    .clearfix
    .spacer
    .spacer
    .spacer
    %h3.text-center.stars
      Trusted by the best
    .rule
    .four.columns.alpha
      %img.display-block.margin-auto{:src=>"images/sponsor_1.png"}
    .four.columns
      %img.display-block.margin-auto{:src=>"images/sponsor_1.png"}
    .four.columns
      %img.display-block.margin-auto{:src=>"images/sponsor_1.png"}
    .four.columns.omega
      %img.display-block.margin-auto{:src=>"images/sponsor_1.png"}
    .clearfix
    .spacer
    .spacer
    .spacer
    .spacer




