.slider
  #full-width-slider.royalSlider.heroSlider.rsMinW
    .rsContent
      %img.rsImg{:alt => "", :src => "images/home_horses.png"}
      .wrapped.slider-caption.infoBlockLeftBlack.rsABlock.rsNoDrag{"data-fade-effect" => "", "data-move-effect" => "left", "data-move-offset" => "10", "data-speed" => "200"}
        .seven.alpha.columns.padding-top
          %h1.text-uppercase
            Hand crafted
          .rule
          %p
            The Long Lasting Horse Maecenas sed nisl ac mauris imperdiet luctus sit amet at lorem. Aenean consequat lacinia mi nec iaculis. 
          %a.button{:href=>"#"}
            Start my order
          .offset-by-nine
    .rsContent
      %img.rsImg{:alt => "", :src => "images/home_horses.png"}
      .wrapped.slider-caption.infoBlockLeftBlack.rsABlock.rsNoDrag{"data-fade-effect" => "", "data-move-effect" => "left", "data-move-offset" => "10", "data-speed" => "200"}
        .seven.alpha.columns.padding-top
          %h1.text-uppercase
            Hand crafted
          .rule
          %p
            The Long Lasting Horse Maecenas sed nisl ac mauris imperdiet luctus sit amet at lorem. Aenean consequat lacinia mi nec iaculis. 
          %a.button{:href=>"#"}
            Start my order
          .offset-by-nine