.row
%header
  .wrapped
    .header-inner
      .three.columns.alpha
        %a{:href=>"index.html"}
          .logo
      .five.columns
        %ul.main-nav.american-font-name
          %li
            %a{:href=>"base_css.html"}
              Shop
          %li
            %a{:href=>"#"}
              About
          %li
            %a{:href=>"#"}
              Contact
          %li
            %a{:href=>"#"}
              News
      .admin-pannel.american-font-name.margin-top.right
        .three.columns.offset-by-one
          %a.cart.button.right{:href=>"#"}
            %i.icon-shopping-cart.icon-white
            100 
            items
        .four.columns.omega
          .dropdown
            %a#dLabel.dropdown-toggle.button.right.full-width{"data-target" => "#", "data-toggle" => "dropdown", :href => "/page.html", :role => "button"}
              John Superlongname
              %b.caret
            %ul.dropdown-menu{"aria-labelledby" => "dLabel", :role => "menu"}
              %li
                %a{:href=>"#"}
                  My account
              %li
                %a{:href=>"#"}
                  Payment Options
  .clearfix