.wrapped
  %sidebar.sidebar.three.columns.alpha{:style=>"margin-top:29px;"}
    %h5.text-uppercase.border-bottom
      My Profile
    %a{:href=>"#"}
      %h5
        Edit Password
    %a{:href=>"#"}
      %h5
        Account Settings
    %a{:href=>"#"}
      %h5
        Profile Options
  .thirteen.columns.omega
    %h2.border-bottom
      Account Settings
    %h1
      Heading 1
    %p
      Vivamus pretium, nibh a varius vulputate, risus risus bibendum augue, aliquam laoreet arcu augue vel ligula. Aenean laoreet mattis elit eget semper. Nullam egestas
    %h2
      Heading 2
    %p
      Vivamus pretium, nibh a varius vulputate, risus risus bibendum augue, aliquam laoreet arcu augue vel ligula. Aenean laoreet mattis elit eget semper. Nullam egestas
    %h3
      Heading 3
    %p
      Vivamus pretium, nibh a varius vulputate, risus risus bibendum augue, aliquam laoreet arcu augue vel ligula. Aenean laoreet mattis elit eget semper. Nullam egestas
    %h4
      Heading 4
    %p
      Vivamus pretium, nibh a varius vulputate, risus risus bibendum augue, aliquam laoreet arcu augue vel ligula. Aenean laoreet mattis elit eget semper. Nullam egestas
    %h5
      Heading 5
    %p
      Vivamus pretium, nibh a varius vulputate, risus risus bibendum augue, aliquam laoreet arcu augue vel ligula. Aenean laoreet mattis elit eget semper. Nullam egestas
      %strong 
        risus 
      %em 
        risus 
      ut urna posuere venenatis. Ut sit amet tellus ultricies eros pharetra congue. In congue, diam ornare hendrerit 
    %p
      Vivamus pretium, nibh a varius vulputate, risus risus bibendum augue, aliquam laoreet arcu augue vel ligula. Aenean laoreet mattis elit eget semper. Nullam egestas risus ut urna posuere venenatis. Ut sit amet tellus ultricies eros pharetra congue. In congue, diam ornare hendrerit 
      %small
        Small Text
      %a{:href=>"#"}
        Link
    %ul
      %li
        one
      %li
        two
      %li
        Three. Well, probably this list item should be longer so that it will probably wrap to the next line in rendering.
    %ol
      %li
        one
      %li
        two
      %li
        Three. Well, probably this list item should be longer so that it will probably wrap to the next line in rendering.
